body {
    background-color: beige;
    margin: 40px;
    align-content: center;

}
header,footer {
    background-color: rebeccapurple;
    color: rgb(242, 241, 247);
    text-align: center;
    margin-top: 10px;

}
nav{
    background-color:black;
    max-width:760px;
    
}
nav ul{
    
    display:flex;
    flex-direction:column;
    padding: 1rem;
    margin:0;
}
nav a{
    text-decoration:none;
    display:block;
    text-align:left;
    color:white;
    font-weight: 200px;
    padding:0;

}
nav ul li a:hover{
    background-color:white;
    color:black;
}
h1,h2,h3,h4{
    font-family: 'Roboto', sans-serif;
    margin: 0.15rem;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1rem;
}
p{
    font-family: 'Rokkitt', serif;   
}
footer{
    padding: 3px;
}
header img{
    width: 200px;
    height: auto;
    
}
nav,h2{
    margin-left: 150px;
    align-content: center;
}
#byuilink{
    color: rgb(12, 12, 12);
}
