body {
    background-color: beige;
    margin: 40px;
    align-content: center;

}
header,footer {
    background-color: rebeccapurple;
    color: rgb(242, 241, 247);
    text-align: center;
    margin: 40px;

}
footer{
    padding: 3px;
}
img{
    float: top-right;
    border: darkslateblue solid 1rem;
}
