body {
    background-color: beige;
    margin: 40px;
    align-content: center;

}
header,footer {
    background-color: rebeccapurple;
    color: rgb(242, 241, 247);
    text-align: center;
    margin: 40px;

}
footer{
    padding: 3px;
}
img{
    float:right;
    align-self:end;
    border: rgb(15, 15, 15) solid 1rem;
    margin-top: -50px;
}
nav{
    margin-left: 50px;
    align-content: center;
}
#byuilink{
    color: rgb(12, 12, 12);
}
