main{
    margin:0 auto;
    max-width: 760px;
}

.heading{
    background-color:#142130;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;
}
header img{
    max-width:100px;
}

nav {
    max-resolution: 40px; auto;
    	
    background-color: #FCA311;
    padding:0;
}
.navigation{
    list-style-type: none;
    padding:0;
}
.navigation li:first-child{
    display:block;
}
.navigation li{
    display:none;
}
.navigation a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3)
}
.navigation a:hover{
    background-color: rgba(0,0,0,0.2);
}
.responsive li{
    display:block;
}

/* Media Query for medium+ views */
@media only screen and (min-width: 32.5em) {
	


div{
    display:block;
    margin:4px;
    padding:1em;
    background-color:yellowgreen;

}

.navigation{
    display:flex;
    margin-left: 2%;

}
.navigation li {
    display:block;
    flex:1 1 100%;
    
}
.navigation li:first-child{
   display:none;
}

}
/*medium query end*/
/*start large query here*/
@media only screen and (min-width: 64rem){
    .navigation li a {
        padding: .6rem 1rem;}
    
}
/*end large screen query*/
footer{
    background-color:lightslategrey;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

}

.clearfix:after{
    content:"";
    display:table;
    clear:both;
}