.heading{
    background-color:lightslategrey;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
}
header img{
    width:80px;
    height:auto;

}
footer{
    background-color:lightslategrey;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

}